/*
==========================================================================
                === ESTILOS DA SESSÃO FALE === 
 */
.fale-container {
    margin-top: 100px;
    padding: 30px 20px;
}

.fale-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.fale-left {
    flex-basis: 50%;
}

.bold {
    font-weight: bold;
}

.link-text {
    color: var(--text-color);
    transition: var(--animation-time);
}

.link-text:hover {
    color: var(--primary-color);
}

.fale-right {
    flex-basis: 50%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#message {
    height: 120px;
}

@media (max-width: 850px) {

    .fale-container {
        margin-top: 200px;
    }

    .fale-area {
        flex-direction: column;
        justify-content: center;
    }

    .fale-right {
        width: 100%;
    }

}