/* 
==========================================================================
    === ESTILOS DA SESSÃO HERO ===
 */

.hero{
    background: linear-gradient(135deg, #6366F1, salmon);
    padding: 20px 0;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.hero-left{
    flex-basis: 60%;
}

.left{
    margin: 30px 0;
    color: white;
    font-size: 40px;
}

.hero-left>p{
    margin-bottom: 30px;
    font-size: 18px;
    color: white;
}

.btn-container{
    display: flex;
    gap: 16px;
    padding: 20px;
}

.hero-right{
    flex-basis: 40%;
}

.hero-right>img{
    width: 100%;
    border-radius: 30px;
}


/*
==========================================================================
                === ESTILOS DA SESSÃO DE DETAQUES === 
 */
.destaques-container{
    padding-top: 20px;
    padding-bottom: 50px;
}


/*
==========================================================================
                === ESTILOS DA SESSÃO DE COLEÇÕES === 
*/
.collection{
    background-color: white;
    padding: 20px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.collection-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* lado esquerdo (COLEÇÕES/NEWSLETTER) */
.section-left{
    flex-basis: 50%;
}

.section-left>h2{
    margin-bottom: 20px;
}

.section-left>p{
    margin-bottom: 30px;
}

.collection-container>.grid-container{
    flex-basis: 50%;
}


/*
==========================================================================
                === ESTILOS SESSÃO DE DEPOIMENTOS === 
*/
.depoimento-container>.grid-container>.grid-card>.card-title{
    margin-top: 15px;
}

/*
==========================================================================
                === ESTILOS SESSÃO NEWSLETTER === 
*/
.newsletter-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    margin: 70px auto;
    gap: 20px;
}

.newsletter-container>.section-left{
    flex-basis: 60%;
}

.form{
    flex-basis: 40%;
}

.form>form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-sub{
    cursor: pointer;
    font-size: 16px;
}
