/* 
==========================================================================
                       === VARIÁVEIS === 
*/
:root{
    --primary-color: salmon;
    --secondary-color: #6366F1;
    --text-color: #111720de;
    --animation-time: 0.5s;
    --text-size: 1.06rem;
}